<div class="mb-3">
  <button nz-button nzType="primary" (click)="newTask()">
    <span nz-icon nzType="plus"></span>
    New Task
  </button>
</div>
<nz-table #tasksData [nzData]="tasks">
  <thead>
  <tr>
    <th>Task Title</th>
    <th>Employee</th>
    <th>Completed</th>
  </tr>
  </thead>
  <tbody>
    @for (task of tasksData.data; track $index) {
      <tr>
        <td>{{ task.description }}</td>

        <td>
          {{ task.assignedEmployee.name }}
        </td>

        <td>
          <button class="btn" (click)="complete(task.completed,task)">
            @if (task.completed) {
              <span nz-icon nzType="check" nzTheme="outline" class="text-success "></span>
            } @else {
              <span nz-icon nzType="close" nzTheme="outline" class="text-danger"></span>
            }
          </button>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
