<nz-table #tasksData [nzData]="tasks">
  <thead>
  <tr>
    <th>Task Title</th>
    <th>Employee</th>
    <th>priority</th>
  </tr>
  </thead>
  <tbody>
    @for (task of tasksData.data; track $index) {
      <tr>
        <td>{{ task.description }}</td>

        <td>
          <nz-select
            [name]="task.id + '-' + task.employeeId + '-' + $index"
            [(ngModel)]="task.employeeId"
            (ngModelChange)="setEmployee(task,$event)"
            nzPlaceHolder="Choose"
            [nzOptions]="employeesList"
          >
          </nz-select>
        </td>
        <td>
          <nz-select
            [name]="task.id+ '-'+$index"
            [(ngModel)]="task.priority"
            (ngModelChange)="setPriority(task,$event)"
            nzPlaceHolder="Choose"
            [nzOptions]="optionList"
          >
          </nz-select>

        </td>
      </tr>
    }
  </tbody>
</nz-table>
