<nz-table #employeeData [nzData]="employees">
  <thead>
  <tr>
    <th>Task Title</th>
    <th>Employee</th>
    <th>priority</th>
  </tr>
  </thead>
  <tbody>
    @for (data of employeeData.data; track $index) {
      <tr>
        <td>{{ data.description }}</td>
        <td>{{ data.assignedEmployee.name }}</td>
        <td>
          <nz-select
            name="{{data.id+$index}}"
            [(ngModel)]="data.priority"
            (ngModelChange)="setPriority(data.employeeId,data.id,$event)"
            nzPlaceHolder="Choose"
            [nzOptions]="optionList"
          >
          </nz-select>

        </td>
      </tr>
    }
  </tbody>
</nz-table>
