<div class="header col-12">
  <h5 class="m-0">New Task</h5>
  <i class="fa fa-close text-secondary" (click)="activeModal.close(false)" [ngbTooltip]="'Close'"></i>
</div>
<div class="modal-body">
  <form nz-form
        [formGroup]="addTaskForm"
        (ngSubmit)="submit(addTaskForm)">
    <div class="p-4">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired nzNoColon>Title</nz-form-label>
        <nz-form-control [nzErrorTip]="'Title is required'">
          <input class="form-control"
                 formControlName="title"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzNoColon>Employee</nz-form-label>
        <nz-form-control nzErrorTip=" Employee is required!">
          <select class="form-control"
                  formControlName="employeeId"
                  [ngClass]="{'is-valid': submitted && addTaskForm.controls['employeeId'].valid, 'is-invalid': submitted && addTaskForm.controls['employeeId'].invalid}">
            @for (em of employeesList; track em) {
              <option [value]="em.value">{{ em.label }}</option>
            }
          </select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzNoColon>Priority</nz-form-label>
        <nz-form-control>
          <select class="form-control"
                  formControlName="priority"
                  [ngClass]="{'is-valid': submitted && addTaskForm.controls['priority'].valid, 'is-invalid': submitted && addTaskForm.controls['priority'].invalid}">
            @for (pr of optionList; track pr) {
              <option [value]="pr.value">{{ pr.label }}</option>
            }
          </select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <button id="submit-btn"
                type="submit"
                class="btn btn-primary btn-with-icon ml-2 w-100"
                [disabled]="addTaskForm.invalid">
          Submit
        </button>
      </nz-form-item>
    </div>
  </form>
</div>
